@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Comforter+Brush&family=Oswald:wght@500&display=swap');

/*     font-family: 'Amatic SC', cursive;
        font-family: 'Oswald', sans-serif;
    font-family: 'Comforter Brush', cursive;
*/

body {
    font-family: 'Oswald', sans-serif;

}

.font-f {
    font-family: 'Comforter Brush', cursive;
}

.bg-fon {
    filter: brightness(75%);
}

.fz-nav {
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
}

fo-sect {
    background-color: rgba(0, 0, 0, 0.05);
}

.max-h {
    height: 500px;
}

.p404 {
    filter: brightness(75%);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-position: center;
    background-image: url('./p404.jpg')
}
.shadow-img{
    box-shadow: 1px 1px 6px 6px #000;
}